<div class="container" ng-controller="AuctionHouseController">
    <button type="button" class="btn btn-default" ng-repeat="link in itemLinks" ng-click="refreshItems(link.pageNumber)">
        {{link.rel}}
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Stack</th>
                <th>Seller</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Date}}</td>
                <td>{{item.ItemName}}</td>
                <td>
                    <span class="glyphicon glyphicon-unchecked" ng-hide="item.IsStack" />
                    <span class="glyphicon glyphicon-check" ng-show="item.IsStack" />
                </td>
                <td>
                    <a ng-href="#/Characters/{{item.SellerId}}">{{item.SellerName}}</a>
                </td>
                <td>
                    <a ng-href="#/Characters/{{item.BuyerId}}">{{item.BuyerName}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
